body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  overflow-y: auto;
}

.fullPage {
  min-height: 100vh;
}
